@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    overflow-y: hidden;
}


div.prices {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
}

img.stars {
    position:absolute;
    object-fit: cover;
    z-index: -1;
}
h1.prices {
    padding-right: 25px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 100%;
    color: #FFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding-bottom: 2%;
}

div.footerContact {
    bottom: 0;
}

li{
    text-align:center;
}

li h1{
    padding: 2px;
}

li a {
    font-size: 100%;
}


h1.choose span {
    background-color: #080f1f;
    border-radius: 50px;
    padding: 7px 15px 7px 15px;
}
.AspChoose span.span2 {
    padding-top: 20px;
    background-color: #e74c3c;
    border-radius: 50px;
    padding: 7px 15px 10px 15px;
    opacity: 0; 
}

.AspChoose span.span3 {
    padding-top: 20px;
    background-color: #e74c3c;
    border-radius: 50px;
    padding: 7px 15px 10px 15px;
    font-size: 40px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.menu,
.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Main level */
ul.menu {
    padding-top: 0.1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
}

.menu > li {
    float: left;
    position: relative;
}

.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
    border-radius: 50px;
}

.menu li.option:hover {
    background: #e74c3c;
}

.menu li.option {
    transition: all 0.3s ease 0s;
}

.menu > li > a {
    padding: 1em 2em;
}

/* Dropdown */
.submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    transform-origin: left top;
}

.submenu li {
    background-color: #34495e;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    margin: 5px;
}


.submenu li.noBackground{
    background-color: transparent;
    margin: 0px;
}

li.center{
    display: inline-block;
}

ul.inline {
    padding: 0 0 0 0;
}


.submenu > li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
}


/* Show dropdown */
.submenu,
.submenu li {
    opacity: 0;
    visibility: hidden;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}

.transparentButton {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
}

.transparentButton2 {
    padding-top: 2px;
    font-size: 80%;
    color: #FFFFFF;
}

div.ddls {
    display: flex;
    justify-content: center;
}
