@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
}

h1.title {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #0c1e31;
}