@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
}

h1.title {
    margin: 2px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 60px;
    color: #FFF;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}