@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    overflow-y: hidden;
}

h1.title {
    margin: 2px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 60px;
    color: #FFF;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    padding-bottom: 20px;
}

h2.subtitle {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #FFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: all 0.1s ease-in-out 0s;
    font-size: 20px;
    margin-left: auto;
    cursor: pointer;
}


img.stars {
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.formDiv {
    display:table;
    width: 100%;
    margin:auto;
    padding-top: 10%;
    padding-bottom: 20%;
}

form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

ul.footer{
    left:0;
}
div.footerContact {
    bottom: 0;
    left:0;
}

label {
    font-family: 'Rubik', sans-serif;
    color: white;
}

.transparentButton {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
}

.backgroundButton {
    background-color: #34495e;
    border-radius: 50px;
    margin: 5px;
    width: 100px;
    transition: all 0.2s ease-in-out 0s;
}

.backgroundButton:hover {
    background-color: #34497f;
}

.center{
    width: 100px;
    margin: auto;
    text-align: center;
}

.sidebyside > div {
    vertical-align: top;
    display: inline-block;
}