@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

div.header {
    margin: auto;
    width: 50%;
    padding: 10px;
}
header.navbar {
    position: absolute;
    margin: 0;
    border-radius: 50px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

li, a, button {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-left:auto;
}

.links{
    list-style: none;
}

.links li{
    display: inline-block;
    padding: 0px 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
    padding: 5px 10px;
    border-radius: 50px;
}

.links li a:hover {
    background: #fff;

    color: rgb(0, 0, 0);
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

section{
    position:relative;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    section::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #3c5470, transparent);
        z-index: 1000;
    }

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section img#person {
    z-index:5;
}


div.text{
    position: absolute;
    color: #FFF;
    white-space: nowrap;
    z-index: 4;
    transform: translateX(560px);
}
body {
    min-height: 100vh;
    background: linear-gradient(#080f1f, #3c5470);
}
