@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

div.header {
    margin: auto;
    width: 50%;
    padding: 1%;
    z-index: 100000;
    position: fixed;
}
header.navbar {
    position: absolute;
    margin: 0;
    border-radius: 30px;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(43, 49, 64, 0.5);

}

li, a, button {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-left:auto;
}

.links{
    list-style: none;
}

.links li{
    display: inline-block;
    padding: 0px 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
    padding: 5px 10px;
    border-radius: 50px;
}

.links li a:hover {
    background: #fff;

    color: rgb(0, 0, 0);
}

.cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


body {
    min-height: 100vh;
    background: linear-gradient(#080f1f, #3c5470);
    overflow-x: hidden;
}

h1#contactNav {
    margin: 2px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 25px;
    color: #FFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

div.footerContact {
    background: #080f1f;
    text-align: center;
    position:absolute;
    width: 100%;
    left: 0;
}

ul.footer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.footer {
    position:relative;
    list-style: none;
}

.footer li {
    display: inline-block;
    padding: 0px 20px;
}

li, a {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}