@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
}

h1.title {
    margin: 2px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 80px;
    color: #FFF;
    text-shadow: 0 0 20px #89CFF0;
}

a.title {
    text-shadow: 0 0 200px #89CFF0;
}

div.text {
    color: #FFF;
    white-space: nowrap;
    z-index: 4;
    transform: translateX(-50px) translateY(-150px);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #3c5470, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section img#person {
    z-index: 5;
}

.sec {
    position: relative;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(#3c5470, #080f1f);
    color: #FFF;
    padding: 25px 100px 10px 100px;
}

.sec img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.secContent {
    margin-top: -55%;
    position: relative;
}

.sec h1 {
    font-size: 50px;
}

.sec p {
    font-size: 2em;
}

img.example {
    width: 140px;
    height: 205px;
    object-fit: fill;
    border-radius: 20px;
    margin: 10px;   
    transition: all .2s;
}

img.example:hover {
    transform: scale(1.1);
}

div.games {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}