@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
}

div.grid {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    width: 50%;
    margin-right: 3%;
}

h1.schedule {
    color: #FFF;
    border: 10px;
}

div.title {
    color: #FFF;
    text-align: center;
    padding-top: 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
}

div.title span {
    padding-top: 10px;
    font-size: 200%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

table {
    /*margin-right: 4%;*/
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    border: 10px;
}

table tbody tr:first-child{
    height: 35px;
}

table tbody tr:first-child td {
    width: 80px;
}

table tbody tr:nth-child(n+1) td {
    width: 100px;
}


img.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
img.stars2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


div.footerContact {
    left: 0;
}

div.wrapper {
    padding-top: 10%;
    color: #FFF;
    width: 100%;
    height: 550px;
    overflow: hidden;
    display: flex;
}

div.wrapper2{
    padding-top: 13%;
    padding-bottom: 0%
}

div.management {
    text-align: center;
    width: 50%;
    float: left;
}

div.management div {
    text-align: center;
    display: flex;
    flex-direction: column;
}

div.management div.buttons {
    display: block;
}

div.buttons {
    margin-bottom: 3%;
}


div.management div a {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #34495e;
    border-radius: 50px;
    margin-top: 1%;
    cursor: pointer;
}

.hiddenbuttons input {
    color: #FFF;
    background-color: #34495e;
    border-radius: 50px;
    cursor: pointer;
    border:none;
    font-size: 14px;
}

div.management div div div {
    padding-top: 10px;
    padding-bottom: 1%;
    display: none;
    transition: all ease-in-out 0.2s
}


div.management div div a {
    transition: all ease-in-out 0.2s
}

div.management div div input {
    margin-left: 2%;
    margin-right: 2%;
}


div.management div div a:hover {
    background-color: #e35e5e;
}

div.management div div a:hover + div input {
    background-color: #e35e5e;
}

div.management div div:hover a,
div.management div div div:hover input {
    background-color: #e35e5e;
}

div.management div div a:hover + div {
    display: block;
}

div.management div div div:hover {
    display: block;
    transition: all ease-in-out 0.2s
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    border: 5px solid rgba(0, 136, 169, 1);
    width: 25%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    background-color: rgba(0, 136, 169, 1);
    color: white;
    font-size: 15px;
}

.popupTitle{
    margin-top: 0
}