@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

input {
    font-family: 'Rubik', sans-serif;
}

div.header {
    margin: auto;
    width: 100%;
    padding: 1%;
    z-index: 100000;
    position: fixed;
}
header.navbar {
    backdrop-filter: blur(10px);
    width: auto;
    position: absolute;
    margin: 0;
    border-radius: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background: rgba(43, 49, 64, 0.5);
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    width: 240px;
    height: 86px;
    margin-right: 10px;
    margin-left: 15px;
}

.links{
    list-style: none;
}

.links li{
    display: inline;
    padding: 0px 0px 0px 15px;
}

.links li a {
    transition: all 0.3s ease 0s;
    padding: 5px 10px;
    border-radius: 50px;
}

.links li a:hover {
    background: #fff;
    color: rgb(0, 0, 0);
}

.cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

.resetpadding{
    padding:0;
}


.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


body {
    min-height: 100vh;
    background: linear-gradient(#080f1f, #3c5470);
    overflow-x: hidden;
}

h1#contactNav {
    margin: 2px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 25px;
    color: #FFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

div.footerContact {
    background: #080f1f;
    text-align: center;
    position:absolute;
    width: 100%;
    left: 0;
}

ul.footer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left: 100px;
}

.footer {
    position:relative;
    list-style: none;
}

.footer li {
    display: inline;
    padding: 0px 20px;
    margin-left: 20px;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logout{
    display:none;
    background-color: #d14b4b;
}

.logout:hover {
    background-color: #b71b1b
}

.manager {
    display: none;
}

header.order {
    float: left;
    margin-left: 5%;
    margin-top: 1.6%;
    cursor: pointer;
    text-align:center;
}

header.order:hover > .orderlist{
    opacity: 1;
}

header.order a {
    background: rgba(43, 49, 64, 0.5);
    border-radius: 20px;
    padding: 9px 25px;
    font-size:17px;
}

div.header{
    height:10%;
}

div.orderlist {
    cursor:default;
    display: flex;
    margin-top: 4%;
    flex-direction: column;
    opacity: 0;
    height: 0%;
    transition: all ease-in-out .2s;
}
div.orderlist a {
    font-size: 12px;
    margin-top: 7%;
    padding: 3px 5px;
}

.nodisplay{
    display:none;
}

.changeFont{
    font-size: 12px;
}

header.order a.cancelButton {
    background: #ab4035;
    cursor: pointer;
}