body {
    overflow-y: hidden;
}

div.data {
    color: #FFF;
    text-align: center;
    padding-top: 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
}

div.data span {
    padding-top: 10px;
    font-size: 200%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1.data {
    padding-right: 25px;
    font-size: 120%;
    color: #FFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

img.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

div.footerContact {
    bottom: 0;
    left: 0;
}

div.wrapper {
    color: #FFF;
    margin-top: 5%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

div.passwordChange {
    text-align: center;
    width: 50%;
}

div.appointmentsView {
    text-align: center;
    width: 50%;
    float: left;
}

div.appointmentsView div {
    text-align:center;
    display: flex;
    flex-direction: column;
}

div.appointmentsView div a {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #34495e;
    border-radius: 50px;
    margin-top: 1%;
}

.backgroundButton {
    background-color: #34495e;
    border-radius: 50px;
    margin: 5px;
    width: 100px;
    transition: all 0.2s ease-in-out 0s;
}

.transparentButton {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
}

.center {
    width: 100px;
    margin: auto;
    text-align: center;
}